<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User data</title>
    <style>
        .user-info {
            list-style: none;
            border: 1px solid;
            display: inline-block;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="user-cont">
        {% for user in users %}
        <ul class="user-info">
            <li>Name: {{user.name}}</li>
            <li>Age: {{user.age}}</li>
            <li>City: {{user.city}}</li>
            <a href="https://djangocrud-manideep-0164.vercel.app/crud/edituser/{{user.id}}/"><button>Edit</button></a>
            <a
                href="https://djangocrud-manideep-0164.vercel.app/crud/deleteuser/{{user.id}}/"><button>Delete</button></a>
        </ul>
        {% endfor %}
    </div>
</body>
</html>