<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="https://django-crud-rosy.vercel.app/crud/">Home</a>
        <a href="https://django-crud-rosy.vercel.app/crud/userform/">Add User</a>
        <a href="https://django-crud-rosy.vercel.app/crud/users/">Users</a>
    </nav>

    <div class="container">
        <h1 class="form-heading">Update user.</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" value="{{item.name}}" id="username">
            <input type="number" name="age" value="{{item.age}}" id="age">
            <input type="text" name="city" value="{{item.city}}" id="city">
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </div>
</body>
</html>