<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD - Welcome</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="http://127.0.0.1:8000/crud/">Home</a>
        <a href="http://127.0.0.1:8000/crud/userform/">Add User</a>
        <a href="http://127.0.0.1:8000/crud/users/">Users</a>
    </nav>

    <div class="container">
        <h1 class="main-head">Welcome to the CRUD App!</h1>
    </div>
</body>
</html>